# PostgreSQL
STATS_POSTGRES_HOST=127.0.0.1
STATS_POSTGRES_PORT=5434
STATS_POSTGRES_USER=stats
STATS_POSTGRES_PASSWORD=stats
STATS_POSTGRES_DB=stats_app

# Redis
STATS_REDIS_HOST=127.0.0.1
STATS_REDIS_PORT=6380
