# PostgreSQL
STATS_POSTGRES_HOST=localhost
STATS_POSTGRES_PORT=5433
STATS_POSTGRES_USER=stats
STATS_POSTGRES_PASSWORD=stats
STATS_POSTGRES_DB=stats_app

# Redis
STATS_REDIS_HOST=localhost
STATS_REDIS_PORT=6379
